<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a User</title>

</head>
<body>
<h1>Create a User</h1>
<a th:href="@{/users}">Back to User List</a>
<br/><br/>
<form method="post" th:action="@{/create}" th:object="${user}">
    <div th:if="${user}">
        <table>
            <tr>
                <td><label for="firstName">Enter name:</label></td>
                <td><input th:type="text" th:field="${user.firstName}" id="firstName"/></td>
            </tr>
            <tr>
                <td><label for="lastName">Enter surname:</label></td>
                <td><input th:type="text" th:field="${user.lastName}" id="lastName"/></td>
            </tr>
            <tr>
                <td><label for="email">Enter email:</label></td>
                <td><input th:type="text" th:field="${user.email}" id="email"/></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="Create"/>
</form>
</body>
</html>
