<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>View User</title>

</head>
<body>
<h1>View User</h1>
<a th:href="@{/users}">Back to User List</a>
<br/><br/>
<div th:if="${user}">
    <table>
        <tr>
            <td>ID:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:utext="${user.firstName}">...</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td th:utext="${user.lastName}">...</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:utext="${user.email}">...</td>
        </tr>
    </table>
    <br/><br/>
    <div th:if="not ${allowDelete}">
        <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a> |
        <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
    </div>
    <form method="post" th:if="${allowDelete}" th:action="@{/delete/{id}(id=${user.id})}" th:object="${user}">
        <input type="submit" value="Delete user"/>
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error">
    ...
</div>
</body>
</html>
